<div class="page-header">
  <h1>Listing users</h1>
</div>

<% if @users.empty? %>
  <div class="alert alert-warning">
    No users exist right now
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.contact %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Show', user_path(user), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', user_path(user), method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<%= link_to 'New user', new_user_path, class: 'btn btn-sm btn-success' %>
